@import url("./vars.scss");

.primary-button,
.secondary-button,
.ghost-button {
    @apply border-0;
    @apply p-1.5;
    @apply text-sm;
    @apply font-medium;
    border-radius: 8px;
    color: var(--gray-800);

    svg {
        width: 20px;
        height: 20px;
    }

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
}

.primary-button {
    background: var(--primary-color);

    &:hover {
        background: var(--primary-color-hover);
    }
    &:disabled {
        &:hover {
            background-color: var(--primary-color);
        }
    }
}
.secondary-button {
    background-color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color-hover);
    }
    &:disabled {
        &:hover {
            background-color: var(--primary-color);
        }
    }
}

.ghost-button {
    background-color: transparent;

    &:hover {
        background-color: var(--secondary-color);
    }
    &:disabled {
        &:hover {
            background-color: transparent;
        }
    }
}
